/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Unicafe/target/
/laskarit/viikko2/Unicafe/nbproject/
/OpintoApp/target/
/OpintoApp/nbactions.xml
/OpintoApp/nbproject/
/OpintoApp/db/OpintoApp.db
/OpintoApp/db/TestOpintoApp.db
/OpintoApp/OpintoApp.db
/OpintoApp/TestOpintoApp.db
